<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
	id = "msdesigner"
	version = "1.0.0"
	name = "Msdesigner Plug-in"
	class = "msdesigner.MsdesignerPlugin"
	>
	<runtime>	<library name="lib/classes12.jar">
     		<export name="*"/>
  		</library>
  		<library name="lib/generator.jar">
     		<export name="*"/>
  		</library>
    <library name="msdesigner.jar">
       <export
             name="*">
       </export>
    </library>
    
    <library name="lib/mysql-connector-java-5.0.0-beta-bin.jar">
       <export
             name="*">
       </export>
    </library>
    <library name="lib/antlr-2.7.6.jar">
       <export
             name="*">
       </export>
    </library>
    <library name="lib/asm.jar">
       <export
             name="*">
       </export>
    </library>
    <library name="lib/bsh-1.2b7.jar">
       <export
             name="*">
       </export>
    </library>
    <library name="lib/cglib-2.1.3.jar">
       <export
             name="*">
       </export>
    </library>
    <library name="lib/commons-collections-2.1.1.jar">
       <export
             name="*">
       </export>
    </library>
    <library name="lib/commons-dbcp-1.2.1.jar">
       <export
             name="*">
       </export>
    </library>
    <library name="lib/commons-lang-1.0.1.jar">
       <export
             name="*">
       </export>
    </library>
    <library name="lib/commons-logging-1.0.4.jar">
       <export
             name="*">
       </export>
    </library>
    <library name="lib/commons-logging.jar">
       <export
             name="*">
       </export>
    </library>
    <library name="lib/commons-pool-1.2.jar">
       <export
             name="*">
       </export>
    </library>
    <library name="lib/dom4j-1.4.jar">
       <export
             name="*">
       </export>
    </library>
    <library name="lib/dom4j-src.jar">
       <export
             name="*">
       </export>
    </library>
    <library name="lib/ehcache-1.2.4.jar">
       <export
             name="*">
       </export>
    </library>
    <library name="lib/hibernate3.jar">
       <export
             name="*">
       </export>
    </library>
    <library name="lib/jaxen-1.1-beta-5.jar">
       <export
             name="*">
       </export>
    </library>
    <library name="lib/jta.jar">
       <export
             name="*">
       </export>
    </library>
    <library name="lib/log4j-1.2.14.jar">
       <export
             name="*">
       </export>
    </library>
    <library name="lib/msrbac.jar">
       <export
             name="*">
       </export>
    </library>
    <library name="lib/spring.jar">
       <export
             name="*">
       </export>
    </library>
    <library name="lib/webwork-2.2.5.jar">
       <export
             name="*">
       </export>
    </library>
    <library name="lib/xercesImpl.jar">
       <export
             name="*">
       </export>
    </library>
    <library name="lib/xfire-all-1.1-RC1.jar">
       <export
             name="*">
       </export>
    </library>
    <library name="lib/xmlParserAPIs.jar">
       <export
             name="*">
       </export>
    </library>
    <library name="lib/xwork-1.2.2.jar">
       <export
             name="*">
       </export>
    </library>
	</runtime>
 <requires>
    <import plugin="org.eclipse.ui"/>
    <import plugin="org.eclipse.core.runtime"/>
    <import plugin="org.eclipse.core.resources"/>
    <import plugin="org.eclipse.draw2d"/>
    <import plugin="org.eclipse.gef"/>
    <import plugin="org.eclipse.jdt"/>
    <import plugin="org.eclipse.jdt.core"/>
    <import plugin="org.eclipse.jdt.debug"/>
    <import plugin="org.eclipse.jdt.launching"/>
    <import plugin="org.eclipse.jdt.ui"/>
    <import plugin="org.eclipse.ui.ide"/>
    <import plugin="org.eclipse.ui.views"/>
    <import plugin="org.eclipse.ui.workbench"/>
 </requires>
   <extension
         point="org.eclipse.ui.editors">
         <editor 
         	class ="net.ms.designer.editors.packages.ui.PackageEditor"
         	id="net.ms.designer.editors.packages.ui.PackageEditor" 
         	name="PackageEditor"
         	icon="icons/logo.gif"
         	default="true"
         	extensions="package"
         />
         <!--
         <editor
            class="net.ms.designer.editors.component.ui.ComponentEditor"
            icon="icons/logo.gif"
            default="true"
            name="ComponentEditor"
            id="net.ms.designer.editors.component.ui.ComponentEditor"
            extensions="com"
          />
          <editor
            class="net.ms.designer.editors.componentdetail.ui.CompDetailEditor"
            icon="icons/logo.gif"
            default="true"
            name="ComponentDetailEditor"
            id="net.ms.designer.editors.componentdetail.ui.CompDetailEditor"
            extensions="detail"
          />
          <editor
            class="net.ms.designer.editors.enumcomponentdetail.ui.EnumDetailEditor"
            icon="icons/sample.gif"
            default="false"
            name="EnumDetailEditor"
            id="net.ms.designer.editors.enumcomponentdetail.ui.EnumDetailEditor"
            extensions="enumdetail"
          />
            <editor
            class="net.ms.designer.editors.workflow.ui.WorkflowEditor"
            icon="icons/sample.gif"
            default="false"
            name="WorkflowEditor"
            id="net.ms.designer.editors.workflow.ui.WorkflowEditor"
            extensions="workflow"
          />
          -->
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
         <perspective name="MS 透视图"
   			icon="icons/selectall.gif"
   			class="net.ms.designer.ui.wizard.CPerspective"
   			id="net.ms.designer.ui.wizard.CPerspective">
   		</perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
         <page
         	name="Ms designer"
         	class="net.ms.designer.ui.preference.RootPreferencePage"
         	id="net.ms.designer.ui.preference.RootPreferencePage"
         >
         </page>
         <page
         	name="数据库配置"
         	category="net.ms.designer.ui.preference.RootPreferencePage"
         	class="net.ms.designer.ui.preference.DBPreferencePage"
         	id="net.ms.designer.ui.preference.DBPreferencePage"
         	>
         </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
         <category
            name="视图"
            id="net.ms.designer.ui.wizard.view">
      </category>
      <view
            name="Ms 视图"
            icon="icons/prev.gif"
            category="net.ms.designer.ui.wizard.view"
            class="net.ms.designer.ui.view.MsTreeView"
            id="net.ms.designer.ui.view.MsTreeView">
      </view>
   </extension>
  
   
   <extension
         point="org.eclipse.ui.newWizards">
         <category
            name="Ms"
            id="net.ms.designer.ui.wizard.category">
      </category>
      <wizard
            name="设计器"
            icon="icons/1.gif"
            category="net.ms.designer.ui.wizard.category"
            class="net.ms.designer.ui.wizard.NewProjectWizard"
            id="net.ms.designer.ui.wizard.NewProjectWizard"
            project="true" >
         <description>
            通过向导生成一个代码生成项目框架
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>

	<extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="生成按钮"
            visible="true"
            id="createxml.actionSet">
            <!--
         <menu
               label="生成(&amp;M)"
               id="xmlMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         -->
         <action
               label="生成(&amp;S)"
               icon="icons/create_code.gif"
               class="createtable.actions.CreateXmlAction"
               tooltip="create codes"
               menubarPath="xmlMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="createtable.actions.CreateXmlAction">
         </action>
      </actionSet>
      
      
       <actionSet
            label="建表"
            visible="true"
            id="createtable.actionSet">
            <!--
         <menu
               label="建表(&amp;M)"
               id="tableMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         -->
         <action
               label="建表(&amp;S)"
               icon="icons/create_db.gif"
               class="createtable.actions.CreateDBAction"
               tooltip="create DateBase table"
               menubarPath="tableMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="createtable.actions.CreateDBAction">
         </action>
      </actionSet>
      
      <actionSet
      		label="向上"
            visible="true"
            id="UpToAction.actionSet">
         <action
               label="向上(&amp;U)"
               icon="icons/up.gif"
               class="net.ms.designer.actions.UpToAction"
               tooltip="Up"
               menubarPath="tableMenu/upGroup"
               toolbarPath="upGroup"
               id="net.ms.designer.actions.UpToAction">
         </action>
      </actionSet>
      
   </extension>
   <!-- 
   <extension
         point="org.eclipse.ui.actionSets">
         
       <actionSet
            label="小应用库"
            visible="true"
            id="application.actionSet">
         <action
               label="小应用库(&amp;A)"
               icon="icons/sample.gif"
               class="net.ms.designer.editors.workflow.actions.ApplicationAction"
               tooltip="the application library"
               toolbarPath="sampleGroup"
               id="net.ms.designer.editors.workflow.actions.ApplicationAction">
         </action>
      </actionSet>
      
   </extension>
   -->
</plugin>
